<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styled.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
rel="stylesheet" />
<meta name="Viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <header id="header">
        <div id="headertablet">
       <div id="header-logonav"> 
        <img src="/images/logo-mercado-liebre.svg" alt="" > 
        <form method="get" id="barra-busqueda">
            <input type="text" placeholder="Buscar productos, marcas">
            <button> <i class="fa-solid fa-magnifying-glass"></i> </button>
      </form>
    </div>
        <p id="credito"><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>  
    </div>
        <nav id="navbar">
        <ul ><li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
       
        <ul>
            <li><a href="/registro">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i> </li>
            <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>       
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>

        </div>

    

    </header>


    <main id="main">
    <div><img id="home" src="/images/img-home-banner.jpg" alt=""></div>
    <section id="subseccion">
        
        <h2 id="titulos"> Basado en tu ultima visita</h2>

    

     <article id="articulos">

     <img width="250px" src="/images/img-cafetera-moulinex.jpg" alt="">
     <div id="subcaja">
        <i class="fa-solid fa-truck"></i>
       <div id="flex">
        <p id="precios">$6.770</p>
        <p id="descuentoydescpripcion"> 40% OFF</p>
      </div>
        <h4 id="descuentoydescpripcion"> Cafetera Moulinex</h4>
     </div>
    </article>

    <article id="articulos">
        
        <img width="250px" src="/images/img-macbook-pro-2019.jpg" alt="">
     <div id="subcaja">    
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$230.000</p>
        <p id="descuentoydescpripcion"> 20% off</p>
        </div>
        <h4 id="descuentoydescpripcion">MacBook Pro 2019</h4>
    </div>    
    </article>

    

    <article id="articulos">
        
        <img width="250px" src="/images/img-samsung-galaxy-s10.jpg" alt="">
     <div id="subcaja">  
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$70.500</p>
        <p id="descuentoydescpripcion">10% off</p>
        </div>
        <h4 id="descuentoydescpripcion"> Samsung Galaxy S10</h4>
    
    </div>   
    </article>

    <article id="articulos">
        
        <img width="250px" src="/images/img-tv-samsung-smart.jpg" alt="">
    <div id="subcaja">
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$23.200</p>
        <p id="descuentoydescpripcion">5% off</p>
        </div>
        <h4 id="descuentoydescpripcion">SmartTv Samsung 43"</h4>
    </div>
    </article>

    </section>

    <section id="subseccion">
        <h2 id="titulos">Seccion de ofertas</h2>

        <article id="articulos">
            
        <img width="250px" src="/images/img-cafetera-moulinex.jpg" alt="">

    <div id="subcaja">
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$6.770</p>
        <p id="descuentoydescpripcion"> 40% OFF</p>
        </div>
        <h4 id="descuentoydescpripcion"> Cafetera Moulinex</h4>
    </div>
    </article>

    <article id="articulos">
        
        <img width="250px" src="/images/img-macbook-pro-2019.jpg" alt="">
    <div id="subcaja"> 
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$230.000</p>
        <p id="descuentoydescpripcion"> 20% off</p>
        </div>
        <h4 id="descuentoydescpripcion">MacBook Pro 2019</h4>
    </div>
    </article>

    <article id="articulos">
        
        <img width="250px" src="/images/img-samsung-galaxy-s10.jpg" alt="">

    <div id="subcaja">
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$70.500</p>
        <p id="descuentoydescpripcion">10% off</p>
        </div>
        <h4 id="descuentoydescpripcion">Samsung Galaxy S10</h4>
    </div>
    </article>

    <article id="articulos">
        
        <img width="250px" src="/images/img-tv-samsung-smart.jpg" alt="">
    <div id="subcaja">
        <i class="fa-solid fa-truck"></i>
        <div id="flex">
        <p id="precios">$23.200</p>
        <p id="descuentoydescpripcion">5% off</p>
        </div>
        <h4 id="descuentoydescpripcion">SmartTv Samsung 43"</h4>
    </div>
    </article>

    </section>

    </main>

    <footer id="footer">
      <section >
        <i class="fa-solid fa-credit-card"  style="color: #005eff;font-size: 2em" > </i>
       <h2 >Pagá con tarjeta o en efectivo</h2>
       <p >Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p> 
      </section>
      <section>
        <i class="fa-solid fa-gift" style="color: #1f73e0;font-size: 2em" ></i>
        <h2 >Envío gratis desde $ 2.500</h2>
        <p >Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
        <i class="fa-solid fa-user-shield" style="color: #1862e2; font-size: 2em; "></i>
        <h2 >Seguridad, de principio a fin</h2>
        <p >¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
      </section>
      
    </footer>
    <section id="Copyright">
        <p >Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>


</body>
</html>