#login{
    background-color: rgb(208, 216, 216);
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#boton{
    position: relative;
}

#boton button{
    transition: all 1s;
}

#boton:hover button{
    background-color: #0022AA;

}


